.kt-header__topbar-item .kt-header__topbar-user .userlink {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.loginFields {
    margin-bottom: 5px;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title {
    margin-bottom: 20px!important;
}
.kt-login__form .registerFields {
    margin-bottom: 10px;
}
.kt-login__head .accountLink {
    padding: 0px 12px;
}
.postimage {
    height: 100px;
}
.countryDropdown span.select2 {
    width:100%!important;
}
.countryDropdown span.select2 .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: 50%!important;
}
.countryDropdown span.select2 .select2-selection--single .select2-selection__rendered {
    line-height: 20px!important;
    padding-left: 12px!important;
}
.countryDropdown span.select2 .select2-selection--single {
    height: 38px!important;
    border: 1px solid #e2e5ec!important;
    outline: none!important;

}


.kt-nav {
    padding:0!important;
}
.dropdown-menu.dropdown-menu-fit {
    padding:1rem 0!important;
}
.profileImageSide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profileImageSide label.col-form-label {
    font-size: 22px;
}
.profileImageSide .profileImage .text-muted {
    font-size: 20px;
}
.profileImageSide .profileImage .kt-avatar .kt-avatar__holder {
    width: 220px;
    height: 220px;
    background-position: center center;
}
.profileImageSide .profileImage {
    text-align: center;
}
.alert button.close {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #fff;
    opacity: 1;
    font-size: 26px;
}
.alert {
    position: relative;
    padding: 16px 0px;
    font-size: 17px;
}
.loginSection .alert button.close {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #fff;
    opacity: 1;
    font-size: 26px;
    margin-top: 5px;
}
.loginSection .alert {
    position: relative;
    padding: 16px 20px;
    font-size: 17px;
    display: flex;
}
.gymDropdown span.select2 {
    width:100%!important;
}
.gymDropdown span.select2 .select2-selection--multiple .select2-selection__arrow {
    height: auto;
    top: 50%!important;
}
.gymDropdown span.select2 .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 14px;
    list-style-type: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    padding: 2px;
}
.gymDropdown span.select2 .select2-selection--multiple {
    height: 38px!important;
    border: 1px solid #e2e5ec!important;
    outline: none!important;

}


.dropdown-menu.dropdown-menu-fit.adminLoginDropdown {
    padding: 0px!important;
}
.dashboardTopBox {
    display:flex!important;
    justify-content: center;
    align-items: center;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}



/*Main Page css Style*/

* body, html {
    padding: 0;
    margin: 0;
}
.gymSection {
    background-image: url("../assets/media/gym/weight-lifting-1284616_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frontSection {
    padding: 50px 0px;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links ul {
    display: block;
    list-style-type: none;
}
.links ul li {
    float: left;
    padding: 30px 10px;
    padding-left: 0px;
}
.links ul li a:hover {
    background: rgba(133, 192, 255, 0.25);
    border: 2px solid rgba(81, 128, 241, 0.47);
    color: #fff;
    transition: 0.6s;
}
.links ul li a {
    padding: 14px 20px;
    outline: #1675da;
    border: 2px solid #255cce66;
    border-radius: 10px;
    color: #f7f7f7;
}

.links {
    display: inline-block;
    padding: 22px;
}
.links h1 {
    color: #fff;
}
.logo {
    display: inline-block;
    padding: 22px;
}
.logo img {
    width: 130px;
}
.logo h2 {
    font-size: 24px;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    color: #fff;
}
.logo p {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
}


@media (max-width: 768px) {
    .frontSection {
        padding:0px;
        display: block;
    }
    .links h1 {
        font-size: 24px;
    }
    .links ul li {
        float: left;
        padding: 32px 6px;
    }
    .links ul li a {
        padding: 8px 12px;
        outline: #e01972;
        border: 2px solid #e01972;
        border-radius: 10px;
        color: #e01972;
        font-size: 14px;
    }
    .logo h2 {
        font-size: 16px;
        margin: 0px;
        width: 100%;
    }
    .logo p {
        font-size: 14px;
        width: 100%;
    }
    .logo img {
        width:175px;
    }
    .logo {
        display: inline-block;
        padding: 30px;
        text-align: center;
    }
    .links {
        padding: 30px;
        display: inline-block;
        text-align: center;
    }
}



/* Drag Leads Style */
.dragLeadsBox table thead tr th span {
    height: 4px;
    border-radius: 50%!important;
    width: 16px;
}
.bg-none {
    background: #fbfbfb!important;
}

/*Member Style*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
body a {
    color: inherit;
    text-decoration: none;
}

.header__btn {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #2c2c2c;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.header__btn:last-child {
    margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
    color: #fff;
    background-color: #2c2c2c;
}

.header {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.header__title {
    margin-bottom: 30px;
    font-size: 2.1rem;
}

.content {
    width: 95%;
    margin: 0 auto 50px;
}

.content__title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

.content__title--m-sm {
    margin-bottom: 10px;
}

.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin-bottom:30px;
}
.multisteps-form__title {
    color: #646c9a;
}
.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}
@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0;
    }
}
.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}
.multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
    display: none;
}
.multisteps-form__progress-btn.js-active {
    color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.multisteps-form__form {
    position: relative;
    overflow: hidden;
}

.multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}
.multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.textField:not:first-child {
    margin-top: 12px;
}


.shopCategoryModal .modal-content .modal-header {
    display: block;
}

.kt-header-menu {
    align-items: center;
}
.adminLogoDashboard img {
    max-width: 200px;
}
.kt-aside__brand {
    padding: 0 15px;
    background: #fbfbfb;
}
.kt-aside {
    background: #fbfbfb;
}
.kt-aside .kt-aside-menu {
    background: #fbfbfb;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
    background: #f7f7f7;
    color: #5d78ff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
    color: #5d78ff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background: #fbfbfb;
    color: #5d78ff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #5d78ff;
}
.kt-content {
    padding-top: 0;
}
.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
    padding-top: 90px;
}

.gymLogoDashboard {
    justify-content: center;
    width: 100%;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:hover .kt-menu__link span.kt-menu__link-icon i.flaticon2-shopping-cart-1 {
    color: #5d78ff!important;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link span.kt-menu__link-icon i.flaticon2-shopping-cart-1 {
    color: #5d78ff!important;
}
.mb-15 {
    margin-bottom: 12px;
}
.reportSection .container-fluid .reportTable {
    padding:20px 30px;
}
.memberDashboardBigBox {
    min-height:310px;
}
.memberDashboardSmallBox {
    min-height:200px;
}
